@model IEnumerable<QL_LaoDong.Models.Calendar>


<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Dashboard Analytics</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">Danh mục thời gian lao động</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>DANH MỤC THỜI GIAN CHO PHÉP LAO ĐỘNG</h5>
            </div>
            <div class="btn-addoredit">
                <a onclick="showInPopup('@Url.Action("AddOrEdit","Calendar",new {id=0},Context.Request.Scheme)', 'New Calendar')" class="btn btn-success text-white"><i class="fas fa-random"></i> Thêm mới</a>
            </div>
            <div class="card-body table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Buổi trong ngày
                                </th>
                                <th>
                                    Thứ trong tuần
                                </th>
                                <th>
                                    Ngày tháng năm
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SessionOfDay)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Weekdays)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Day)
                                </td>
                                <td>
                                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Calendar",new {id=item.Id },Context.Request.Scheme)', 'Update Calendar')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Cập nhật</a>
                                    <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return JQueryAjaxDelete(this);" class="d-inline">
                                        <input type="submit" value="Xóa" class="btn btn-danger" />
                                    </form>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
