@model IEnumerable<QL_LaoDong.ViewModels.StudentVM>
@{
    ViewData["Title"] = "AddStudent";
    Layout = null;
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mssv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mssv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    <form asp-action="AddStudent" asp-route-id="@item.StudentId" asp-controller="Calendar" class="d-inline">
                        <button onclick="reload();" type="submit" data-toggle="tooltip" data-placement="bottom" title="Thêm vào nhóm" class="btn btn-secondary"><i class=" ion ion-md-person-add"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function reload() {
        window.location.reload();
    }
</script>

