@model QL_LaoDong.Models.Calendar

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<div>
    <h4>Calendar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionOfDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionOfDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weekdays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weekdays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LimitsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LimitsNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
