@model IEnumerable<QL_LaoDong.Models.Muster>

@{
    ViewData["Title"] = "PageMuster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Lao động</a></li>
                        <li class="breadcrumb-item active">Nhóm lao động</li>
                    </ol>
                </div>
                <h4 class="page-title">DANH SÁCH SINH VIÊN THUỘC "NHÓM @ViewBag.grname"</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                <div class="d-flex justify-content-lg-between">
                    <div class="btn-addoredit">
                        <a href="/Groups/PageGroups/@ViewBag.caid"><i class="far fa-arrow-alt-circle-left"></i> Trở lại</a>
                    </div>
                    <div class="btn-addoredit">
                        <a onclick="showInPopup('@Url.Action("AddStudent","Muster", new {id=ViewBag.caid, ids = ViewBag.groupID} ,Context.Request.Scheme)', 'THÊM SINH VIÊN VÀO NHÓM')" class="btn btn-success text-white btn-sm"><i class="fas fa-user-plus"></i> Thêm sinh viên vào nhóm</a>
                    </div>
                </div>
                
                <br />
                    <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>
                                    MSSV
                                </th>
                                <th>
                                    Điểm danh
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Student.Mssv)
                                      
                                    </td>
                                    <td>
                                        <div class="checkbox checkbox-primary checkbox-single mr-3 ml-1">
                                            @if (item.RollUp == true)
                                            {
                                                <input data-idmuster="@item.Id" data-stuid="@item.StudentId" id="@item.Id" type="checkbox" class="diemdanh" onclick="check(this);" checked>
                                                <label for="@item.RollUp"></label>
                                            }
                                            else
                                            {
                                                <input data-idmuster="@item.Id" data-stuid="@item.StudentId" id="@item.Id" type="checkbox" class="diemdanh" onclick="check(this);">
                                                <label for="@item.RollUp"></label>
                                            }

                                        </div>
                                    </td>
                                    <td>
                                        <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return JQueryAjaxDelete(this);" class="d-inline">
                                            <button type="submit" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Xóa sinh viên khỏi nhóm"><i class="fas fa-user-minus"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            }
                           
                        </tbody>
                    </table>
                <button onclick="send();" class="btn btn-success">Lưu</button>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var DiemdanhSV = [];
    $(document).ready(function () {
       /* console.log("ready!");*/
        $('.diemdanh').each(function (i, value) {
            var diemdanh = {
                Id: $(value).data('idmuster'),
                StudentId: $(value).data('stuid'),
                RollUp: $(value).is(":checked")
            }
            DiemdanhSV.push(diemdanh);
        });
        console.log(DiemdanhSV);
    });
    function send() {
        console.log(DiemdanhSV)
        $.ajax({
            url: '/Muster/Checkdiemdanh',
            data: JSON.stringify(DiemdanhSV),
            type: 'POST',
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                window.location = "@Url.Action("Index", "calendar")";
            }
        });
    }
    function check(item) {
        console.log("item", item)
        console.log("muster", item.id)
        var newDiemdanhSV = DiemdanhSV.map(obj => {
            if (obj.Id === item.id) {
                return { ...obj, RollUp: true };
            }
            return obj;
        })
        console.log("update", result);
    }
</script>