@model IEnumerable<QL_LaoDong.Models.Groups>
@using QL_LaoDong.Helpers;
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Lao động</a></li>
                        <li class="breadcrumb-item active">Nhóm lao động</li>
                    </ol>
                </div>
                <h4 class="page-title">DANH SÁCH CÁC NHÓM LAO ĐỘNG</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                Ngày
                            </th>
                            <th>
                                Tên nhóm
                            </th>
                            <th>
                                Nhóm trưởng
                            </th>
                            <th>
                                Tên công việc
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Convert.ToDateTime(item.WorkTicker.Calendar.Day).ToString("MM/dd/yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GroupsName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Leader)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Job.JobName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkTicker.RegistrationNumber)
                            </td>
                            <td>
                                @if (item.Status == (int)GroupsEnum.CanBoDaXacNhan)
                                {
                                    @Html.FormatValue(item.Status, "Cán bộ đã xác nhận")
                                }
                                else if (item.Status == (int)GroupsEnum.NhomTruongDaDiemDanh)
                                {
                                    @Html.FormatValue(item.Status, "Nhóm trưởng đã điểm danh")
                                }
                                else if (item.Status == (int)GroupsEnum.ChuaDiemDanh)
                                {
                                    @Html.FormatValue(item.Status, "Chưa điểm danh")
                                }
                            </td>
                            <td>
                                <a onclick="showInPopup('@Url.Action("Edit","Groups",new {id=item.Id},Context.Request.Scheme)', 'PHÂN CÔNG CÔNG VIỆC')" class="btn btn-info text-white btn-sm"><i class="fa fa-check-square" aria-hidden="true"></i></a>
                                <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return JQueryAjaxDelete(this);" class="d-inline">
                                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

