
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="d-flex justify-content-center align-items-center flex-column p-3">
        <h3 class="text-dark">HỆ THỐNG QUẢN LÝ LAO ĐỘNG TRƯỜNG ĐẠI HỌC ĐỒNG THÁP</h3>
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid mx-auto" src="~/assets/images/1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid mx-auto" src="~/assets/images/2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid mx-auto" src="~/assets/images/3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid mx-auto" src="~/assets/images/4.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid mx-auto" src="~/assets/images/5.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>*@
<div id="wrapper">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
                <br />
                <h4 class="header-title">Thông tin cơ bản</h4>
                <br />
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card widget-box-one border border-primary bg-soft-primary">
                            <div class="card-body">
                                <div class="float-right avatar-lg rounded-circle mt-3">
                                    <i class="mdi mdi-chart-areaspline font-30 widget-icon rounded-circle avatar-title text-primary"></i>
                                </div>
                                <div class="wigdet-one-content">
                                    <p class="m-0 text-uppercase font-weight-bold text-muted" title="Số nhóm chưa có sinh viên">Chưa có sinh viên</p>
                                    <h2><span data-plugin="counterup">@ViewBag.chuasv</span>/@ViewBag.sonhom <i class="mdi mdi-arrow-up text-success font-24"></i></h2>
                                    <a href=""></a>
                                    @*<p class="text-muted m-0"><span class="font-weight-medium">Tổng số nhóm:</span> @ViewBag.sonhom</p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xl-3 col-md-6">
                        <div class="card widget-box-one border border-warning bg-soft-warning">
                            <div class="card-body">
                                <div class="float-right avatar-lg rounded-circle mt-3">
                                    <i class="mdi mdi-layers font-30 widget-icon rounded-circle avatar-title text-warning"></i>
                                </div>
                                <div class="wigdet-one-content">
                                    <p class="m-0 text-uppercase font-weight-bold text-muted" title="Nhóm chưa điểm danh">Chưa điểm danh</p>
                                    <h2><span data-plugin="counterup">@ViewBag.chuadiemdanh </span>/@ViewBag.sonhom  <i class="mdi mdi-arrow-up text-success font-24"></i></h2>
                                    @*<p class="text-muted m-0"><span class="font-weight-medium">Tổng số nhóm:</span> </p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xl-3 col-md-6">
                        <div class="card widget-box-one border border-danger bg-soft-danger">
                            <div class="card-body">
                                <div class="float-right avatar-lg rounded-circle mt-3">
                                    <i class="mdi mdi-av-timer font-30 widget-icon rounded-circle avatar-title text-danger"></i>
                                </div>
                                <div class="wigdet-one-content">
                                    <p class="m-0 text-uppercase font-weight-bold text-muted" title="Tổng số đăng ký">Tổng số đăng ký</p>
                                    <h2><span data-plugin="counterup">@ViewBag.ds </span> <i class="mdi mdi-arrow-up text-success font-24"></i></h2>
                                    @*<p class="text-muted m-0"><span class="font-weight-medium">Last:</span> 956</p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xl-3 col-md-6">
                        <div class="card widget-box-one border border-success bg-soft-success">
                            <div class="card-body">
                                <div class="float-right avatar-lg rounded-circle mt-3">
                                    <i class="mdi mdi-account-convert font-30 widget-icon rounded-circle avatar-title text-success"></i>
                                </div>
                                <div class="wigdet-one-content">
                                    <p class="m-0 text-uppercase font-weight-bold text-muted" title="Số lượng lớp">Số lượng lớp</p>
                                    <h2><span data-plugin="counterup">@ViewBag.lop</span> <i class="mdi mdi-arrow-up text-danger font-24"></i></h2>
                                    @*<p class="text-muted m-0"><span class="font-weight-medium">Last:</span> 1250</p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>

                <div class="row mt-2">
                    <div class="col-lg-6 mt-2">
                            <div class="demo-box">
                                <h4 class="header-title">Tiến độ hoàn thành</h4>
                                <p class="sub-header">
                                    <input type="hidden" data-value="@ViewBag.hoanthanh" id="hoanthanh" />
                                    <input type="hidden" data-value="@ViewBag.chuahoanthanh" id="chuahoanthanh" />
                                    <input type="hidden" data-value="@ViewBag.chuaxet" id="chuaxet" />
                                </p>

                                <canvas id="pie" height="260"></canvas>

                            </div>
                        </div>

                    <div class="col-lg-6 mt-2">

                        <div class="demo-box mt-5 mt-lg-0">
                            <h4 class="header-title">Trạng thái xử lý</h4>
                            <p class="sub-header">
                                <input type="hidden" data-value="@ViewBag.daduyet" id="daduyet" />
                                <input type="hidden" data-value="@ViewBag.choduyet" id="choduyet" />
                                <input type="hidden" data-value="@ViewBag.baoban" id="baoban" />
                            </p>
                            <canvas id="doughnut" height="260"></canvas>

                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>

 
           



