@model IEnumerable<QL_LaoDong.Models.Tool>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>DANH MỤC DỤNG CỤ LAO ĐỘNG</h5>
            </div>
            <div class="card-body table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Tên công cụ
                                </th>
                                <th>
                                    Tổng số lượng
                                </th>
                                <th>
                                    Đơn vị tính
                                </th>
                                <th>
                                    Số lượng có sẳn
                                </th>
                                <th>
                                    Khóa công việc
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tool1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sum)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Unit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Available)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Lock)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


