@model IEnumerable<QL_LaoDong.Models.Menus>
    <link href="~/lib/DataTables/DataTables-1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Dashboard Analytics</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Danh mục menu</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5>DANH MỤC TÀI KHOẢN NGƯỜI DÙNG</h5>
                </div>
                <div class="btn-addoredit">
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Menus",new {IdMn=0},Context.Request.Scheme)', 'New menu')" class="btn btn-success text-white"><i class="fas fa-random"></i> Create New</a>
                </div>
                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Tiêu đề
                                    </th>

                                    <th>
                                        URL
                                    </th>
                                    <th>
                                        Order key
                                    </th>
                                    <th>
                                        Người thêm
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Label)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.UrlLink)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderKey)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserAddNavigation.Username)
                                        </td>
                                        <td>
                                            <a onclick="showInPopup('@Url.Action("AddOrEdit","Menus",new {IdMn=item.IdMn },Context.Request.Scheme)', 'Update Menu')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                                            <form asp-action="Delete" asp-route-id="@item.IdMn" onsubmit="return JQueryAjaxDelete(this);" class="d-inline">
                                                <input type="submit" value="Delete" class="btn btn-danger" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/DataTables/DataTables-1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/DataTables-1.11.5/js/dataTables.bootstrap5.min.js"></script>