@model IEnumerable<QL_LaoDong.Models.Menus>

<a onclick="showInPopup('@Url.Action("AddOrEdit","Menus",new {IdMn=0},Context.Request.Scheme)', 'New menu')" class="btn btn-success text-white"><i class="fas fa-random"></i> Create New</a>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.UrlLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Label)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.UrlLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderKey)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.UserAddNavigation.Username)
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Menus",new {IdMn=item.IdMn },Context.Request.Scheme)', 'Update Menu')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                    <form asp-action="Delete" asp-route-id="@item.IdMn" onsubmit="return JQueryAjaxDelete(this);" class="d-inline">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
